[Desktop Entry]
Name=Dolphin
Name[vi]=Dolphin
GenericName=File Manager
GenericName[vi]=Quản lý tệp tin
Comment=Manage your files
Comment[vi]=Quản lý tệp tin và thư mục
Exec=env QT_QPA_PLATFORMTHEME=qt6ct dolphin %u
Icon=org.kde.dolphin
Type=Application
MimeType=inode/directory;
Categories=Qt;KDE;System;FileTools;FileManager;
StartupWMClass=dolphin
